<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking App</title>
    <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
    <style>
        .h {
            font-weight: bold;
            font-size: 50px;
        }
        #center-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <%- include('partial/navbar') %>
    <br>
    <br>
    <br>
    <br>
    <div id="center-info">
        <h1 class="h" style="font-family: 'Bellota', cursive;">Hello</h1>
        <h2 class="h" style="font-family: 'Bellota', cursive;">Welcome to My Parking App</h2>
    </div>
</body>
</html>